<section class="col-sm-6 detail-page">
    <div style="font-size: 160%; font-family: arberk, Georgia, serif;">The Wedding of</div>
    <div style="font-size: 190%; font-family: 'AR BERKLEY', Georgia, serif;">Tammy Xu & Dan DeVere</div>
    <div id="info-section">
        <!--<div id="info-section" class="center-block">-->
        <div class="row text-center">
            <div class="col-md-1"></div>
            <div class="col-md-3 col-sm-3 col-xs-6" style="line-height: 150%; padding-top: 10px;">
                <span style="font-size: 150%;">5:30</span>
                <br />
                <span style="font-size: 150%;">PM</span>
            </div>
            <div class="col-sm-2 col-xs-6" id="middle-info">
                <span>July</span>
                <br />
                <span style="font-size: 225%; line-height: 80%;">29</span>
                <br />
                <span>2017</span>
            </div>
            <div id="right-info" class="col-md-6 col-sm-7 col-xs-12" style="line-height: 110%;">
                WOMAN'S CLUB OF EVANSTON
                <br />
                1702 CHICAGO AVENUE
                <br />
                EVANSTON, IL
            </div>
            <!--<div class="col-md-1"></div>-->
        </div>
    </div>
    <div style="font-size: 115%; margin-top: 10px;">Attire: Semi-Formal</div>
    <div style="font-size: 140%; font-family: 'AR BERKLEY', Georgia, serif;">dinner and dancing to follow</div>
    <button type="button" class="btn btn-secondary" data-bind="click: showRsvpModal">RSVP Here!</button>
    <hr style="border-color: slategrey; width: 200px;"/>
    <div id="accomodations">ACCOMMODATIONS</div>
    <div data-bind="foreach: hotels">
        <div class="col-md-12 col-xs-12 col-lg-6">
            <div style="font-size: 150%; font-weight: bold;" data-bind="text: name"></div>
            <div class="hotel-address">
                <div data-bind="text: street"></div>
                <div data-bind="text: city"></div>
            </div>        
            <div data-bind="text: phone"></div>
            <div data-bind="text: code"></div>
            <div>Friday and Saturday $<span data-bind="text: cost"></span>/night</div>
            <button type="button" class="btn btn-secondary" data-bind="click: function() {window.open(url,'_blank');}">Visit Website</button>
        </div>
    </div>
</section>