<section class="col-sm-6 detail-page">
    <div style="font-size: 160%; font-family: arberk, Georgia, serif;">Gifts for Us!</div>
    <br />
    <p>We love cooking tasty food. Some of our favorite dishes to make are silky Mapo Tofu with Sichuan green beans, curry chicken and rice from Dan's childhood "Children's Quick and Easy Cookbook", and the always dependable pork, beef and bacon chili from the Neelys. Instead of items from a registry, we would be honored if you would give us the gift of your favorite recipe. Just bring a paper copy to the venue and place it on the Recipe Collection table. Don't forget to include your name so we know who to thank for our new favorite dish!</p>
    <a href="css/images/Borscht.pdf" target="_blank">
        <img src="css/images/Borscht.jpg" class="img-thumbnail" alt="Borscht" width="400" height="350" style="margin-top: 50px; margin-bottom: 10px;">    
    </a>
    <br />
    <a href="css/images/Pat's Famous Beef and Pork Chili.pdf" target="_blank">
        <img src="css/images/Pat's Famous Beef and Pork Chili.jpg" class="img-thumbnail" alt="Borscht" width="400" height="350" style="margin-top: 10px; margin-bottom: 10px;">
    </a>
    <br />
    <a href="css/images/Sichuan green beans.pdf" target="_blank">
        <img src="css/images/Sichuan green beans.jpg" class="img-thumbnail" alt="Borscht" width="400" height="350" style="margin-top: 10px; margin-bottom: 10px;">
    </a> 
    <br />
    <p>Here are some additional items we could use around the home. For those feeling extra-generous, thanks for contributing to our new household!</p>  
    <a href="https://www.amazon.com/wedding/dan-devere-tammy-xu-evanston-july-2017/registry/29OVI1EZG37XS" target="_blank">
        <img src="css/images/amazon.jpg" class="img-thumbnail" alt="Amazon" width="400" height="350" style="margin-top: 10px; margin-bottom: 10px;">
    </a>
</section>
