<section class="col-sm-5 detail-page">
    <div style="font-size: 160%; font-family: 'AR BERKLEY', Georgia, serif;">Gifts for Us!</div>
    <p>We love cooking tasty food. Some of our favorite dishes to make are silky Mapo Tofu with Sichuan green beans, curry chicken and rice from Dan's childhood "Children's Quick and Easy Cookbook", and the always dependable pork, beef and bacon chili from the Neelys. Instead of items from a registry, we would be honored if you would give us the gift of your favorite recipe. Just bring a paper copy to the venue and place it on the Recipe Collection table. Don't forget to include your name so we know who to thank for our new favorite recipe!</p>
</section>
