    <div class="modal-content" id="rsvp-modal">
        <div class="modal-header">
            <div type="button" class="fa fa-times fa-lg" style="position: absolute; right: 5px; cursor: pointer;" data-bind="click: function() {close();}" aria-label="Close"></div>
            <h1 data-bind="visible: currentStep() != 'confirmation'">RSVP</h1>
            <h1 data-bind="visible: currentStep() == 'confirmation'">Confirmation</h1>
        </div>
        <div class="modal-body">
         
            <!-- Find Guest Page -->       
            <div style="margin-top: 20px;" data-bind="visible: currentStep() == 'findGuest'">
                <p style="font-size: 140%; font-family: arberk, Georgia, serif;">We hope you can join us!</p>
                <p style="margin-bottom: 20px;">Please enter your name below.</p>
                <div class="form-group">
                    <input maxlength="30" data-bind="value: mainGuestFirstName, valueUpdate: 'afterkeydown'" placeholder="First Name" class="form-control autofocus" required/>
                </div>
                <div class="form-group">
                    <input maxlength="50" data-bind="value: mainGuestLastName, valueUpdate: 'afterkeydown'" placeholder="Last Name" class="form-control autofocus" required/>
                </div>
                <button type="submit" class="btn btn-primary" data-bind="click: findGuest, css: {disabled: !validateFirstPage()}">Find My Invitation</button>
            </div>         
            <!-- Guest Response Page -->
            <div data-bind="visible: currentStep() == 'guestResponse'">
                <div data-bind="foreach: party">
                    <div data-bind="visible: $index() <= $root.extraGuestCountChoice()">
                        <hr data-bind="visible: $index() != 0"/>
                        <div class="form-inline clearfix" data-bind="visible: $index() != 0" style="margin-bottom: 20px;">
                            <div class="form-group">
                                <input maxlength="30" class="form-control guestname-input" type="text" data-bind="value: firstName" placeholder="Guest First Name" />
                            </div>
                            <div class="form-group">
                                <input maxlength="50" class="form-control guestname-input" type="text" data-bind="value: lastName" placeholder="Guest Last Name" />
                            </div>
                        </div>                            
                        <div data-bind="visible: $index() == 0" style="font-size: 150%; font-family: arberk, Georgia, serif;">
                            <span data-bind="text: firstName"></span> <span data-bind="text: lastName"></span>:
                        </div>                       
                        <div>Rehearsal Dinner</div>
                        <div>July 28, 2017 | 6PM</div>
                        <div class="btn-group" role="group" aria-label="select">
                            <button type="button" class="btn btn-default accept" data-bind="visible: !rehearsalAccept(), click: function() {rehearsalAccept(true);}">Accept</button>
                            <button type="button" class="btn btn-default selected accept" data-bind="visible: rehearsalAccept()">Accept</button>
                            <button type="button" class="btn btn-default regret" data-bind="visible: rehearsalAccept() || rehearsalAccept() == null, click: function() {rehearsalAccept(false);}">Regret</button>
                            <button type="button" class="btn btn-default selected regret" data-bind="visible: !rehearsalAccept() && rehearsalAccept() != null">Regret</button>
                        </div>
                        <hr style="width: 100px;"/>
                        <div>Wedding</div>
                        <div>July 29, 2017 | 5:30PM</div>
                        <div class="btn-group" role="group" aria-label="select">
                            <!--<button type="button" class="btn btn-default" data-bind="click: weddingAccept(true)">Accept</button>
                            <button type="button" class="btn btn-default" data-bind="click: weddingAccept(false)">Regret</button>-->
                            <button type="button" class="btn btn-default accept" data-bind="visible: !weddingAccept(), click: function() {weddingAccept(true);}">Accept</button>
                            <button type="button" class="btn btn-default selected accept" data-bind="visible: weddingAccept()">Accept</button>
                            <button type="button" class="btn btn-default regret" data-bind="visible: weddingAccept() || weddingAccept() == null, click: function() {weddingAccept(false);}">Regret</button>
                            <button type="button" class="btn btn-default selected regret" data-bind="visible: !weddingAccept() && weddingAccept() != null">Regret</button>
                        </div>
                        <div>
                            <select style="margin-top: 10px;" data-bind="visible: weddingAccept() == true, options: $root.foodOptions, value: foodChoice, optionsCaption: 'Select Meal Option'"></select>
                        </div>
                        <textarea maxlength="200" class="form-control" rows="3" style="margin-top: 10px;"  data-bind="visible: weddingAccept() == true, value: foodOther" placeholder="Other dietary restrictions (e.g. peanut allergy)"></textarea>
                        <br />                      
                        <div class="form-group" data-bind="visible: $index() == 0 && $root.party().length > 1">
                            <label>Number of Additional Guests:</label>
                            <div class="row">
                                <div class="col-xs-3 col-sm-4"></div>
                                <div class="col-xs-6 col-sm-4">
                                    <select class="form-control" data-bind="options: $root.extraGuestCount, value: $root.extraGuestCountChoice"></select>
                                </div>
                                <div class="col-xs-3 col-sm-4"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- Confirmation Page -->
            <div style="margin-top: 20px;" data-bind="visible: currentStep() == 'confirmation'">
                <div data-bind="foreach: party">
                    <div data-bind="visible: $index() <= $root.extraGuestCountChoice()">
                        <div style="font-size: 150%; font-family: arberk, Georgia, serif;">
                            <span data-bind="text: firstName"></span> <span data-bind="text: lastName"></span>:
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div>Rehearsal Dinner: <span data-bind="text: rehearsalAccept() ? 'Accept' : 'Regret'"></span></div>
                            </div>
                            <div class="col-xs-6">
                                <div>Wedding: <span data-bind="text: weddingAccept() ? 'Accept' : 'Regret'"></span></div>                                
                            </div>
                        </div>
                        <div data-bind="visible: weddingAccept()">
                            <div>Entree: <span data-bind="text: foodChoice()"></span></div>
                            <div data-bind="visible: foodOther() != '' && foodOther() != null">Other notes: <span data-bind="text: foodOther()"></span></div>
                        </div>
                    </div>
                </div>
                <button style="margin: 10px auto;" class="btn btn-primary" data-bind="click: goBack">Back</button>
                <button style="margin: 10px auto;" class="btn btn-primary" data-bind="click: close">OK</button>                
            </div>
            
            <button style="margin: 10px auto;" class="btn btn-primary" data-bind="visible: currentStep() == 'guestResponse', click: validateSecondPage">Send RSVP!</button>
         
        </div>
    </div>